@use 'variables' as v;
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: v.$fuenteSecundaria;
  font-size: 1.6rem;
  background-color: v.$cafeClaro;
}

p{
  color: v.$black;
  font-size: 1.5rem;
  line-height: 2;
}

.contenedor{
  max-width: 100rem;
  width: 80%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: v.$black;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}