@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenido-principal{
  background-color: v.$white;
  padding: 5rem 2rem;

  @include m.tablet {
    padding: 10rem;
    margin-top: -10rem;
    position: relative;
  }
}