@use 'base/mixins' as m;
@use 'base/variables' as v;

.nuestros-testimoneales{
  background-color: v.$white;
  padding: 5rem 2rem;
  margin-top: -10rem;

  @include m.tablet {
    padding: 10rem;
  }

  .testimoneal{
    background-color: v.$cafeClaro;
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

    .autor{
      margin: 0;
      text-align: right;
      text-transform: capitalize;
      font-family: v.$fuenteCursiva;
      color: v.$primario;
      font-size: 2.4rem;
    }
  }
}